.RecentTransactionsConWraper {
  width: 60%;
}
.RecentTransactionsCon {
  height: 300px;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.RecentTransactionsDetailsCon {
  height: 200px;
  width: 100%;
}
@media screen and (max-width: 720px) {
  .RecentTransactionsConWraper {
    width: 100%;
  }
}
